body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: scroll;
}

h1 {
  font-weight: bold;
  font-size: 35px;
}

.container {
  width: 400px;
  max-width: 400px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.btn-custom {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.btn-custom.active {
  background-color: #007bff;
}
.btn-custom.disabled {
  background-color: #6c757d;
}
.btn-custom i {
  margin-right: 10px;
}

/* .color-section: Section for color choices */
.color-section {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
}

/* .tabs-display-section: Section for displaying tabs */
.tabs-display-section {
  width: 100%;
}

/* .color-choice-btn: Button for choosing colors */
.color-choice-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
} 

/* .button-container: Container for buttons */
.button-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 5px;
}

.btn-button-container-buttons {
  width: 100%;
  padding: 10px;
  margin: 5px;
  height: 45px;
  color: #333;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* .group-btn: Button for grouping */
.group-btn {
  width: 60%;
  color: #333; 
  overflow: scroll;
  text-overflow: ellipsis;
  display: flex;
  justify-content: left;
}

/* .group-btn i: Icon for group button */
.group-btn i {
  margin-left: 10px;
  margin-right: 15px;
}

/* .close-btn: Button for closing */
.close-btn {
  width: 15%;
  display: flex;
  justify-content: center;
}

/* .color-btn: Button for color selection */
.color-btn {
  width: 15%;
  display: flex;
  justify-content: center;
}

.tab-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 20px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-close-btn {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #ae3333;
  cursor: pointer;
}

.tab-note-container {
  margin-top: 10px;
}

.tab-note-input {
  width: 90%;
  height: 25px;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: scroll;
}