.color-section {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 10px; /* Vervang marge door padding */
  padding-right: 10px; /* Vervang marge door padding */
  box-sizing: border-box; /* Zorgt ervoor dat de padding wordt meegerekend in de breedte */
  width: 100%; /* Zorgt ervoor dat de sectie binnen het frame blijft */
}

.tabs-display-section {
  width: 100%; /* Zorgt ervoor dat de secties de volledige breedte innemen */
  margin-top: 10px; /* Ruimte boven de secties */
}

.color-choice-btn {
  background-color: initial; /* Standaardwaarde, wordt dynamisch ingesteld */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button-container {
    display: flex;
    flex-direction: row; /* Zorgt ervoor dat de knoppen naast elkaar verschijnen */
    margin-bottom: 10px; /* Optioneel: ruimte tussen de containers */
    align-items: center; /* Zorgt ervoor dat de knoppen verticaal gecentreerd zijn */
    flex-wrap: wrap; /* Zorgt ervoor dat de secties onder de knoppen verschijnen */
}


.btn-custom {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-btn {
  height: 40px; /* Stel een vaste hoogte in voor de knoppen */
  width: 15%; /* Specifieke breedte voor de close button */
  color: #333;
  display: flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
}

.color-btn {
  height: 40px; /* Stel een vaste hoogte in voor de knoppen */
  width: 15%;
  color: #333; 
}

.group-btn {
  height: 40px; /* Stel een vaste hoogte in voor de knoppen */
  width: 60%;
  color: #333; 
}